<section>
  <div class="banner">
    <img class="banner-img" src="./assets/img/login/BG.png" alt="banner">
    <img class="banner-logo" src="./assets/img/login/Logo - Wizi.png" alt="logo">
  </div>
  <div class="log-in">
    <mat-form-field appearance="outline">
      <mat-label>Usuario</mat-label>
      <input [(ngModel)]="user" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input type="password" [(ngModel)]="password" matInput>
      <mat-hint> <a href=""> Olvidate tu contraseña? </a> </mat-hint>
    </mat-form-field>
    <button (click)="login()" type="button" class="btn bg-pink btn-lg text-white">Iniciar sesión</button>
  </div>
</section>