<div class="admin-wrapper">
    <div class="admin-content">
        <div class="title">
            <h3>Agregar Wizipecialista Interno</h3>
        </div>
        <div class="buttons">
            <div class="info">
            </div>
            <div class="buttons-wrapper">
                <button class="black" [routerLink]="['/admin/usuarios']">cancelar</button>
                <button class="pink" (click)="PostWizi()">crear cuenta</button>
            </div>
        </div>
        <div class="input-content">
            <div class="inputs-wrapper">
                <div class="input">
                    <label>Nombre <span>*</span></label>
                    <input (change)="change($event.srcElement.value, 'name')" [value]="object.name" type="text" />
                </div>
                <div class="input">
                    <label>Teléfono <span>*</span></label>
                    <input (change)="change($event.srcElement.value, 'phone')" [value]="object.phone" type="number" />
                </div>
            </div>
            <div class="inputs-wrapper">
                <div class="input">
                    <label>Apellido <span>*</span></label>
                    <input (change)="change($event.srcElement.value, 'last')" [value]="object.last" type="text" />
                </div>
                <div class="input">
                    <label>Email <span>*</span></label>
                    <input (change)="change($event.srcElement.value, 'email')" [value]="object.email" type="email" />
                </div>
            </div>
        </div>
        <h5 class="autos">Contacto de Emergencia</h5>
        <div class="input-content">
            <div class="inputs-wrapper">
                <div class="input">
                    <label>Nombre<span>*</span></label>
                    <input type="text" />
                </div>
                <div class="input">
                    <label>Parentesco<span>*</span></label>
                    <input type="text" />
                </div>
                <div class="input">
                    <label>Telefóno<span>*</span></label>
                    <input type="text" />
                </div>
            </div>
        </div>
        <h5 class="autos">Asignar Código de Registro</h5>
        <div class="input-content no-border">
            <div class="inputs-wrapper">
                <div class="input">
                    <label>Código de Unidad<span>*</span></label>
                    <input type="text" />
                </div>
            </div>
        </div>
    </div>
</div>