<div class="admin-wrapper">
    <div class="admin-content">
        <div class="title">
            <h3>Agregar Administrador</h3>
        </div>
        <div class="buttons">
            <button class="black" [routerLink]="['/admin/usuarios']">cancelar</button>
            <button class="pink">crear cuenta</button>
        </div>
        <div class="input-content">
            <div class="inputs-wrapper">
                <div class="input">
                    <label>Nombre <span>*</span></label>
                    <input type="text" />
                </div>
                <div class="input">
                    <label>Teléfono <span>*</span></label>
                    <input type="number" />
                </div>
            </div>
            <div class="inputs-wrapper">
                <div class="input">
                    <label>Apellido <span>*</span></label>
                    <input type="text" />
                </div>
                <div class="input">
                    <label>Email <span>*</span></label>
                    <input type="email" />
                </div>
            </div>
        </div>
        <div class="safety-wrapper">
            <h4>Seguridad</h4>
            <div class="inputs-wrapper">
                <div class="input m-r">
                    <label>Usuario <span>*</span></label>
                    <input type="text" />
                </div>
                <button>Generar contraseña</button>
                <div class="input">
                    <label>Contraseña <span>*</span></label>
                    <input type="password" />
                </div>
            </div>
        </div>
        <div class="super-admin">
            <h4>Permiso de super admin</h4>
            <div class="check">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
                <p>Inactivo</p>
            </div>
        </div>
    </div>
</div>
