.admin-wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding-left: 40px;
    flex-wrap: wrap;
    margin-top: 40px;
    .admin-content {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        flex-wrap: wrap;
        max-width: 1200px;
        .title {
            display: flex;
            width: 100%;
            justify-content: flex-start;
            margin-bottom: 16px;
            h3 {
                color: black;
                font-size: 2rem;
            }
        }
        .buttons {
            display: flex;
            width: 100%;
            justify-content: flex-end;
            button {
                width: 175px;
                height: 40px;
                margin-left: 32px;
                color: white;
                text-transform: uppercase;
                border: none;
                font-size: 14px;
                border-radius: 4px;
            }
            .black {
                background-color: black;
            }
            .pink {
                background-color: #c02278;
            }
        }
        .input-content {
            display: flex;
            width: 100%;
            margin-top: 40px;
            justify-content: flex-start;
            border-bottom: 1px gray solid;
            padding-bottom: 40px;
            flex-wrap: wrap;
            .inputs-wrapper {
                display: flex;
                width: 100%;
                justify-content: flex-start;
                align-items: flex-end;
                .input {
                    width: 300px;
                    display: flex;
                    flex-direction: column;
                    margin-right: 40px;
                    label {
                        width: 100%;
                        color: black;
                        font-weight: 700;
                        font-size: 14px;
                        span {
                            font-size: 14px;
                            color: #c02278;
                        }
                    }
                    input {
                        width: 100%;
                        border: 1px #1d00ff solid;
                        border-radius: 4px;
                        padding: 0 8px;
                        color: gray;
                        height: 40px;
                        max-width: 250px;
                        background-color: transparent;
                        margin-bottom: 20px;
                    }
                }
                .m-r {
                    margin-right: 80px;
                }
                button {
                    width: 300px;
                    color: white;
                    text-transform: uppercase;
                    border: none;
                    height: 40px;
                    border-radius: 4px;
                    background-color: #c02278;
                    margin-right: 40px;
                    font-size: 14px;
                }
            }
        }
        .safety-wrapper {
            display: flex;
            width: 100%;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin-top: 40px;
            padding-bottom: 40px;
            border-bottom: 1px gray solid;
            h4 {
                width: 100%;
                font-size: 1.25rem;
                color: black;
                margin-bottom: 20px;
            }
            .inputs-wrapper {
                display: flex;
                width: 100%;
                justify-content: flex-start;
                align-items: flex-end;
                .input {
                    width: 300px;
                    display: flex;
                    flex-direction: column;
                    margin-right: 40px;
                    label {
                        width: 100%;
                        color: black;
                        font-size: 14px;
                        font-weight: 700;
                        span {
                            font-size: 14px;
                            color: #c02278;
                        }
                    }
                    input {
                        width: 100%;
                        border: 1px #1d00ff solid;
                        border-radius: 4px;
                        padding: 0 8px;
                        color: gray;
                        height: 40px;
                        max-width: 250px;
                        background-color: transparent;
                    }
                }
                .m-r {
                    margin-right: 80px;
                }
                button {
                    width: 250px;
                    color: white;
                    text-transform: uppercase;
                    border: none;
                    height: 40px;
                    border-radius: 4px;
                    background-color: #c02278;
                    margin-right: 40px;
                    font-size: 14px;
                }
            }
        }
        .super-admin {
            display: flex;
            width: 100%;
            margin-top: 40px;
            justify-content: space-between;
            h4 {
                width: auto;
                font-size: 1.25rem;
                color: black;
            }
            .check {
                width: fit-content;
                display: flex;
                p {
                    font-size: 20px;
                    color: #00c1c1;
                    font-weight: 700;
                    margin-left: 20px;
                }
            }
        }
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: 5px black solid;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 34px;
    width: 34px;
    left: -5px;
    bottom: -5px;
    background-color: white;
    transition: .4s;
    border: 5px black solid;
}

input:checked+.slider {
    background-color: black;
}

input:focus+.slider {
    box-shadow: 0 0 1px black;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
