<div class="user-wrapper">
    <div class="user-container">
        <div class="email">
            <label>Email</label>
        </div>
        <div class="user-head">
            <h2>Usuarios</h2>
            <div class="user-buttons">
                <a (click)="navigate()" *ngIf="nav == 'admin'"><i class="fas fa-plus"></i></a>
                <a><i class="fas fa-bell"  [routerLink]="['/admin/notify']"></i></a>
                <div class="number-pink">{{ GetPend }}</div>
                <div class="input">
                    <i class="fas fa-search"></i>
                    <input type="text" name="search" (keyup)="search($event.srcElement.value)" />
                </div>
            </div>
        </div>
        <div class="user-nav">
            <div class="nav-title" [ngClass]="{selected: nav === 'admin'}" (click)="nav = 'admin'">
                <h3>Administradores</h3>
            </div>
            <div class="nav-title" [ngClass]="{selected: nav === 'wiz'}" (click)="nav = 'wiz'">
                <h3>Wizpecialistas</h3>
            </div>
            <div class="nav-title" [ngClass]="{selected: nav === 'client'}" (click)="nav = 'client'">
                <h3>Clientes</h3>
            </div>
        </div>
        <div class="user-tables">
            <table *ngIf="nav === 'admin'">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            Nombre
                            <i class="fas fa-arrow-down"></i>
                        </th>
                        <th>Telefono</th>
                        <th>
                            Email
                            <i class="fas fa-arrow-down"></i></th>
                        <th>Cuenta</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of GetAdmins; let i = index">
                        <td>
                            <img src="./../../../../assets/descarga.png" />
                        </td>
                        <td>
                            {{ user.user.fullname }}
                        </td>
                        <td>{{ user.user.phone }}</td>
                        <td>{{ user.user.email }}</td>
                        <td>
                            <button class="active" *ngIf="user.active">Habilitada</button>
                            <button class="inactive" *ngIf="!user.active">Deshabilitada</button>
                        </td>
                        <td class="point-more">
                            <ng-template let-a="aVariable" [ngTemplateOutletContext]="{ aVariable: false }" [ngTemplateOutlet]="selfie" #selfie>
                                <button mat-icon-button [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{name: user}">
                              <i class="fas fa-ellipsis-h"></i>
                            </button>
                            </ng-template>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table *ngIf="nav === 'wiz'">
                <thead>
                    <tr>
                        <th class="five"></th>
                        <th class="twenty">
                            Nombre
                            <i class="fas fa-arrow-down"></i>
                        </th>
                        <th class="ten">Puntaje</th>
                        <th class="fifteen">Telefono</th>
                        <th class="fifteen">
                            Email
                            <i class="fas fa-arrow-down"></i>
                        </th>
                        <th class="ten">Tipo</th>
                        <th class="ten">Cuenta</th>
                        <th class="ten">Estatus</th>
                        <th class="five"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of GetWizis; let i = index">
                        <td class="five">
                            <img src="./../../../../assets/descarga.png" />
                        </td>
                        <td class="twenty">
                            {{ user.user.fullname}}
                        </td>
                        <td class="ten">{{ user.id }}</td>
                        <td class="fifteen">{{ user.user.phone }}</td>
                        <td class="fifteen">{{ user.user.email }}m</td>
                        <td class="ten">{{ user.provider_type }}</td>
                        <td class="ten">
                            <button class="active" *ngIf="user.active">Habilitada</button>
                            <button class="inactive" *ngIf="!user.active">Deshabilitada</button>
                        </td>
                        <td class="ten">
                            <button class="inactive" *ngIf="user.inservice">Inactivo</button>
                            <button class="active" *ngIf="!user.inservice">Activo</button>
                        </td>
                        <td class="five point-more">
                            <ng-template let-a="aVariable" [ngTemplateOutletContext]="{ aVariable: false }" [ngTemplateOutlet]="selfie" #selfie>
                                <button mat-icon-button [matMenuTriggerFor]="appMenu1" [matMenuTriggerData]="{name: user}">
                                <i class="fas fa-ellipsis-h"></i>
                              </button>
                            </ng-template>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table *ngIf="nav === 'client'">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            Nombre
                            <i class="fas fa-arrow-down"></i>
                        </th>
                        <th>Telefono</th>
                        <th>
                            Email
                            <i class="fas fa-arrow-down"></i></th>
                        <th>Cuenta</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of GetClients; let i = index">
                        <td>
                            <img src="./../../../../assets/descarga.png" />
                        </td>
                        <td>
                            {{ user.user.fullname }}
                        </td>
                        <td>{{ user.user.phone }}</td>
                        <td>{{ user.user.email }}</td>
                        <td>
                            <button class="active" *ngIf="user.active">Habilitada</button>
                            <button class="inactive" *ngIf="!user.active">Deshabilitada</button>
                        </td>
                        <td class="point-more">
                            <ng-template let-a="aVariable" [ngTemplateOutletContext]="{ aVariable: false }" [ngTemplateOutlet]="selfie" #selfie>
                                <button mat-icon-button [matMenuTriggerFor]="appMenu2" [matMenuTriggerData]="{name: user}">
                                <i class="fas fa-ellipsis-h"></i>
                              </button>
                            </ng-template>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<mat-menu #appMenu="matMenu" xPosition="after">
    <ng-template matMenuContent let-name="name">
        <button mat-menu-item style="color: #c02278;" *ngIf="name.active" (click)="dishableAdmin(name.id)">
          <i class="fas fa-key"></i>
          Deshabilitar
      </button>
        <button mat-menu-item style="color: #c02278;" *ngIf="!name.active" (click)="hableAdmin(name.id)">
          <i class="fas fa-key"></i>
          Habilitar
      </button>
        <button mat-menu-item style="color: #c02278;" (click)="editAdmin(name.id);">
          <i class="fas fa-edit"></i>
          Edit
      </button>
        <!--<button (click)="deleteAdmin(user.id)">
          <i class="fas fa-trash-alt"></i>
          Delete
      </button>-->
    </ng-template>
</mat-menu>

<mat-menu #appMenu1="matMenu" xPosition="after">
    <ng-template matMenuContent let-name="name">
        <button mat-menu-item style="color: #c02278;" *ngIf="name.active" (click)="dishableWizi(name.id)">
          <i class="fas fa-key"></i>
          Deshabilitar
      </button>
        <button mat-menu-item style="color: #c02278;" *ngIf="!name.active" (click)="hableWizi(name.id)">
          <i class="fas fa-key"></i>
          Habilitar
      </button>
        <button mat-menu-item style="color: #c02278;" (click)="editWizi(name.id);">
          <i class="fas fa-edit"></i>
          Edit
      </button>
        <!--<button (click)="deleteAdmin(user.id)">
          <i class="fas fa-trash-alt"></i>
          Delete
      </button>-->
    </ng-template>
</mat-menu>
<mat-menu #appMenu2="matMenu" xPosition="after">
    <ng-template matMenuContent let-name="name">
        <button mat-menu-item style="color: #c02278;" *ngIf="name.active" (click)="dishableClient(name.id)">
            <i class="fas fa-key"></i>
            Deshabilitar
        </button>
        <button mat-menu-item style="color: #c02278;" *ngIf="!name.active" (click)="hableClient(name.id)">
            <i class="fas fa-key"></i>
            Habilitar
        </button>
        <button mat-menu-item style="color: #c02278;" (click)="client(name.id);">
            <i class="fas fa-edit"></i>
            Edit
        </button>
        <!--<button (click)="deleteAdmin(user.id)">
            <i class="fas fa-trash-alt"></i>
            Delete
        </button>-->
    </ng-template>
</mat-menu>